### Node ###
# Logs
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt
.gulp

dist/styles/*
!dist/styles/vendors
dist/scripts/*
!dist/scripts/vendors
